.account {
    padding: 2rem 1rem;
    background-color: #f9f9f9;
}

.account h2 {
    margin-bottom: 1.5rem;
}

.account p {
    margin-bottom: 1.5rem;
}

.account form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrap {
    display: flex;
    flex-direction: column;
}

.input-wrap input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 0.5rem;
}

button {
    background: var(--primary-dark);
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--primary-light);
}
